@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: Courier New, sans-serif; font-weight: bold;">Meet the Genshin Archons</h1>
    <p>Learn more about <a href="https://genshin.hoyoverse.com/">Genshin Impact here!</a>.</p>
</div>

<div class="row">
    <div class="col-lg-3 d-flex align-items-center">
        <div class="card" style="width: 18rem;">
            <img src="https://static.vecteezy.com/system/resources/previews/050/027/638/non_2x/mystery-box-with-question-mark-silhouette-icon-vector.jpg" class="card-img-top" alt="New Card Image">
            <div class="card-body">
                <h5 class="card-title text-center fw-bold">Snezhnaya Archon</h5>
                <p class="card-text text-center">Coming soon...</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card" style="width: 53rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" style="width: 17rem;">
                            <img src="https://i.pinimg.com/736x/db/57/e3/db57e3e25bbc340ff58f186663761594.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center fw-bold">Venti: Lord Barbatos</h5>
                                <p class="card-text text-center">God of Freedom</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 17rem;">
                            <img src="https://i.pinimg.com/474x/6e/99/51/6e9951332c06a04c08f13fea0b6edfa1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center fw-bold">Zhongli: Rex Lapis</h5>
                                <p class="card-text text-center">God of Contracts</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 17rem;">
                            <img src="https://i.pinimg.com/originals/46/79/eb/4679eb71d9ffb24f9ed69df9683740de.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center fw-bold">Ei: Raiden Shogun</h5>
                                <p class="card-text text-center">God of Eternity</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <div class="card" style="width: 17rem;">
                            <img src="https://i.pinimg.com/736x/64/06/0f/64060f31e802a813da70e5cc9a58a8f2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center fw-bold">Nahida: Lesser Lord Kusanali</h5>
                                <p class="card-text text-center">God of Wisdom</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 17rem;">
                            <img src="https://static.icy-veins.com/images/genshin-impact/characters/furina.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center fw-bold">Furina: Regina of All Waters</h5>
                                <p class="card-text text-center">God of Justice</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 17rem;">
                            <img src="https://gi.yatta.moe/assets/UI/UI_AvatarIcon_Mavuika.png?vh=2024100700" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center fw-bold">Mavuika: Forged in Flames</h5>
                                <p class="card-text text-center">God of War</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>