
@{
    ViewData["Title"] = "Hu Tao is my Main!";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: Courier New, sans-serif; font-weight: bold;">Hu Tao</h1>
    <p>The Director of the Wangsheng Funeral Parlor (and Zhongli's boss lol)</p>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="https://upload-os-bbs.hoyolab.com/upload/2025/01/07/297640633/b61b0ee48a068e4f2d5fbd8e6e99661b_9086292569648294844.webp?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_70" class="card-img-top" alt="Hu Tao Profile Image">
                <div class="card-body">
                    <h5 class="card-title text-center">My Main's Character Details</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Full Name:</strong> Hu Tao</li>
                        <li class="list-group-item"><strong>Age:</strong> ~19 (according to lore)</li>
                        <li class="list-group-item"><strong>Birthday:</strong> July 15th</li>
                        <li class="list-group-item"><strong>Gender:</strong> Female</li>
                        <li class="list-group-item"><strong>Vision:</strong> Pyro</li>
                        <li class="list-group-item"><strong>Weapon:</strong> Polearm</li>
                        <li class="list-group-item"><strong>Region:</strong> Liyue</li>
                        <li class="list-group-item"><strong>Affiliation:</strong> Wangsheng Funeral Parlor (77th Director)</li>
                        <li class="list-group-item"><strong>Constellation:</strong> Papilio Charontis</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>