@{
    ViewData["Title"] = "Charaaaan!";
}
<h1>@ViewData["Title"]</h1>

<p>Kaveh and Alhaitham Normal Interaction</p>
<img src="https://upload-os-bbs.hoyolab.com/upload/2023/02/25/8040671/70afe5337381eee50ffe916bdb4f5380_3086811065418484311.gif" class="card-img-top" alt="...">
