@{
    ViewData["Title"] = "Charaaaan!";
}
<h1>@ViewData["Title"]</h1>

<p>Kaveh and Alhaitham Normal Interaction</p>
<img src="https://upload-os-bbs.hoyolab.com/upload/2023/02/25/8040671/70afe5337381eee50ffe916bdb4f5380_3086811065418484311.gif" class="card-img-top" alt="...">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <label for="kavehQuestion">Is Kaveh broke?</label>
                <input type="text" class="form-control" id="kavehQuestion" placeholder="Type your answer here...">
            </div>
            <button type="button" class="btn btn-primary mt-3" onclick="checkKavehStatus()">Click to know</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function checkKavehStatus() {
            var userAnswer = document.getElementById("kavehQuestion").value;
            alert("Yes, he is.");
        }
    </script>
}