@{
    ViewData["Title"] = "Try";
}

<div class="text-center">
    <h1 class="display-4">Meet theadsadasdadsa Genshin Archons</h1>
    <p>Learn more about <a href="https://genshin.hoyoverse.com/">Genshin Impact here!</a>.</p>
</div>
